* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  background-color: #2980B9;
  color: #FFFFFF;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    background-color: #FFFFFF;
    height: 40px;
    line-height: 40px;
    color: #666666;
    display: flex;

    &:nth-child(2n) {
      background-color: #F7F7F7;
    }
  }
}

input {
  font-size: 18px;
  color: #2980B9;
  background-color: #F7F7F7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  &:focus {
    background-color: #FFFFFF;
    border: 3px solid #2980B9;
    outline: none;
  }
}
