footer {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: 0; }
  footer .signature {
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    footer .signature p {
      margin: 0; }
    footer .signature .social {
      margin: 10px auto; }

.social-icons {
  height: 35px;
  width: 35px; }

#container {
  display: flex;
  flex-flow: column wrap;
  width: 300px;
  margin: 10px auto 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7; }

.checked {
  text-decoration: line-through; }
